In [31]:
import os



os.makedirs(os.path.join("..","data"),exist_ok=True)#If the target directory already exists, raise an OSError if exist_ok is False. Otherwise no exception is raised. 

data_file = os.path.join("..","data","house_tiny.csv")#逗号分割值文件
with open(data_file, "w") as f:
    f.write('NumRooms,Alley,Price\n')
    f.write('NaN,Pave,127500\n')
    f.write('2,NaN,10600\n')
    f.write('4,NaN,17800\n')
    f.write('NaN,NaN,14000\n')

In [32]:
import pandas as pd 
data=pd.read_csv(data_file)
data#不print更美观

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN   10600
2       4.0   NaN   17800
3       NaN   NaN   14000

In [33]:
inputs,outputs=data.iloc[:,0],data.iloc[:,1:2]#前闭后开
print(inputs)

print(outputs)
#直接输出会粘在一块

data.loc[:,"NumRooms":"Price"]#前闭后闭

data['NumRooms']
data_copy=data.copy()
data_copy[['NumRooms','Price']]=data_copy[['Price','NumRooms']]#交换行列
data_copy

0    NaN
1    2.0
2    4.0
3    NaN
Name: NumRooms, dtype: float64
  Alley
0  Pave
1   NaN
2   NaN
3   NaN

   NumRooms Alley  Price
0    127500  Pave    NaN
1     10600   NaN    2.0
2     17800   NaN    4.0
3     14000   NaN    NaN

In [34]:

data.iloc[:,0]=inputs.fillna(inputs.mean())
data

   NumRooms Alley   Price
0       3.0  Pave  127500
1       2.0   NaN   10600
2       4.0   NaN   17800
3       3.0   NaN   14000

In [35]:
data=pd.get_dummies(data,dummy_na=True)#将字符串项目分成不重复的类别，NaN也属于一种类型，设置NaN的项为true
data

   NumRooms   Price  Alley_Pave  Alley_nan
0       3.0  127500           1          0
1       2.0   10600           0          1
2       4.0   17800           0          1
3       3.0   14000           0          1

In [36]:
import torch
torch.tensor(data.values)#取出处理过的数据

tensor([[3.0000e+00, 1.2750e+05, 1.0000e+00, 0.0000e+00],
        [2.0000e+00, 1.0600e+04, 0.0000e+00, 1.0000e+00],
        [4.0000e+00, 1.7800e+04, 0.0000e+00, 1.0000e+00],
        [3.0000e+00, 1.4000e+04, 0.0000e+00, 1.0000e+00]], dtype=torch.float64)